<!-- views/partials/donors-form.hbs -->

    <!-- TITLE -->
    <legend>Donation</legend>

    <!-- COMPANY NAME -->
    <div class="form-group">
        <label for="title">Company Name</label>
        <p>
            <input id="company-title" type="text" name="companyName" value="{{donor.companyName}}">
        </p>
    </div>

    <!-- AMOUNT TITLE -->
    <div class="img-fluid z-depth-4 rounded">
        <label for="title">Amount</label>
        <div class="input-group mb-3 ">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" placeholder="Amount" value="{{donor.amount}}">
        </div>
    </div>

    <div class="form-group">
        <section>
            <label for="description-text">Description</label>
        </section>
        <textarea class="form-control" name="description" rows="3">{{donor.description}}</textarea>
    </div>
