<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Charitors</a>
        </div>
        <div class="pull right">
            <a href="/donors/new" class="btn btn-cyborg navbar-btn">I want to Donate!</a>
        </div>
    </div>
</nav>
