<!-- views/all-donators.hbs -->
<h1>Donaters</h1>

<a href="/donors/new">Make a Donation?</a>

<div class="row">
    {{#each donators}}
        <div >
            <h2><a href="/donors/{{this._id}}">{{this.companyName}}</a></h2>
            <small>{{this.amount}}</small>
        </div>
    {{/each}}
</div>
