<!-- views/all-donators.hbs -->
<h1>Donaters</h1>

<a href="/donors/new">Make a Donation?</a>

{{#each donators}}
    <h2>
        <a href="/donors/{{this._id}}">{{this.companyName}}</a>
    </h2>
    <small>{{this.amount}}</small>
{{/each}}
