<!-- views/edit-donators.hbs -->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/donors/{{donator._id}}?_method=PUT" >
            {{> donors-form}}

            <!-- BUTTON -->
            <button class="btn btn-primary" type="submit" name="savebtn">Save</button>
            <input class="btn btn-primary" type="button" value="Go back!" onclick="history.back()">
        </form>
    </div>
</div>
