<!-- views/edit-donators.hbs -->


<form method="POST" action="/donors/{{donators._id}}?_method=PUT" >
    {{> donors-form}}

    <!-- BUTTON -->
    <button type="submit" name="savebtn">Save</button>
</form>
